.idea
**/.env
**/.env.bak
**/.env.local
**/.env.production
**/.env.staging
**/__pycache__

**/venv
**/env
**/virtualenv
staticfiles/*
media/*
backups/*
api/logs/*
!/logs/.gitkeep
!backups/.gitkeep
celerybeat*

containers/data
containers/.envs/.local
containers/.envs/.development
containers/.envs/.staging
containers/.envs/.production

.vscode

.coverage

.terraform
.docker
terraform.tfstate

development.json
development.backend.json
staging.json
staging.backend.json
production.json
production.backend.json
node_modules

htmlcov

hosting/keys

/secrets
local.yml
jwt_*

.mypy_cache
